<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GreenPipes" version="2.1.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MassTransit" version="5.1.2" targetFramework="net452" />
  <package id="MassTransit.Log4Net" version="5.1.2" targetFramework="net452" />
  <package id="MassTransit.RabbitMQ" version="5.1.2" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="NewId" version="3.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="Topshelf" version="4.0.4" targetFramework="net452" />
  <package id="Topshelf.Log4Net" version="4.0.4" targetFramework="net452" />
</packages>